src/main/resources/META-INF/memcached.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.wuwii.com/index/wu" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:beans="http://www.springframework.org/schema/beans"
  targetNamespace="http://www.wuwii.com/index/wu" elementFormDefault="qualified"
  attributeFormDefault="unqualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.wuwii.com/index/wu ">
  <xsd:import namespace="http://www.springframework.org/schema/beans"/>
  <xsd:element name="memcached">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="beans:identifiedType">
          <xsd:attribute name="host" type="xsd:string" default="127.0.0.1"/>
          <xsd:attribute name="port" type="xsd:int" default="11211"/>
          <xsd:attribute name="username" type="xsd:string"/>
          <xsd:attribute name="password" type="xsd:string"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
