wu-cache-core/src/main/resources/META-INF/memcached.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.wuwii.com/index/wu" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.wuwii.com/index/wu" elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <xsd:element name="memcached">
    <xsd:complexType>
      <xsd:attribute name="addresses" type="xsd:string" default="127.0.0.1:11211">
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[
                           The memcached connect addresses like 'server1:11211', use pool in
                           'server1:11211 server2:11211' or 'server1:11211,server2:11211'.
                        ]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="username" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[
                          The memcached auth username.
                        ]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="password" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[
                           The memcached auth password.
                        ]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="timeout" type="xsd:int" default="1440000">
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[
                           The memcached cache timeout.
                        ]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="disableSpringCache" type="xsd:boolean" default="true">
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[
                          Disable Spring cache annotation
                        ]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
